<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Meu Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div style="text-align: center;">
        <img src="assets/profile-photo.png" alt="Minha Foto" style="width: 150px; border-radius: 50%;" />
        <h2>Renan da Costa Ferreira</h2>
        <p>Turma: ADS Noite-BG</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
